/* Enter your custom styles here */
/* Enter your custom styles here */
.customTable{
    margin-top: 2rem !important;
}
/* 
.mainChart{
    margin-top: 2rem !important;
} */

.panel{
    margin-top: 2rem !important;
}